* {
  font-family: GmarketSansMedium;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #b6a97e;
}

*::selection {
  background-color: #b6a97e;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("../font/JKG-L_3.ttf") format("woff");
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #000c1d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  width: 100%;
  top: 0px;
  color: #ffffff;
  height: 60px;
  z-index: 2;
  font-size: 1.2em;
}

header span {
  padding: 20px;
}

#main {
  letter-spacing: 3px;
  line-height: 200%;
  font-size: 3.5vmin;
  color: #ffffff;
  position: fixed;
  z-index: 2;
  --animate-duration: 7s;
}

#main div {
  font-size: 0.8em;
  margin: auto;
  height: 50%;
}

#main div p:first-child > span {
  background-color: #b6a97e;
  padding: 1%;
}

section#repeatSection {
  display: block;
  overflow-y: hidden;
}

section#repeatSection .img {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  position: fixed;
  top: 0px;
}

section.imgSection {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  display: none;
  top: 0px;
  color: #ffffff;
  letter-spacing: 3px;
  line-height: 200%;
  font-size: 3vmin;
}

section.contentSection {
  width: 100%;
  height: 1000px;
  visibility: hidden;
  letter-spacing: 3px;
  line-height: 200%;
  font-size: 1.25em;
}

section.whiteSection {
  background-color: #ffffff;
  color: #000000;
}

section.blueSection {
  color: #ffffff;
}

section {
  --animate-duration: 3s;
}

section #slide .carousel-cell {
  width: 100%;
  left: 0% !important;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

section #slide .carousel-cell.is-selected {
  opacity: 1;
  z-index: 0;
}

section #slide p:first-child::after {
  content: '';
  display: block;
  position: relative;
  top: 0;
  width: 100px;
  height: 1px;
  background-color: #b6a97e;
  margin-block: 10%;
}

section #banner > p {
  color: #b6a97e;
  padding: 1% 10%;
  border: 1px solid #b6a97e;
  font-weight: 700;
}

section:nth-of-type(6) {
  padding: 10%;
  height: initial;
  font-size: 2.5vmin;
}

section:nth-of-type(6) #slide {
  width: 100%;
  padding: 15% 0%;
}

section:nth-of-type(6) #slide > div:nth-of-type(1) {
  width: 25%;
}

section:nth-of-type(6) #slide > div:nth-of-type(2) {
  width: 45%;
}

@media screen and (max-width: 900px) {
  section:nth-of-type(6) {
    height: initial;
    padding-top: 15%;
  }
  section:nth-of-type(6) #slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: initial;
  }
  section:nth-of-type(6) #slide > div:nth-of-type(1), section:nth-of-type(6) #slide > div:nth-of-type(2) {
    width: 80%;
  }
}

section:nth-of-type(9) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10%;
}

section:nth-of-type(9) div#content {
  width: 30%;
}

section:nth-of-type(9) div#content p {
  display: inline-block;
  width: 100%;
  font-weight: 100;
  margin-bottom: 5%;
  line-height: 250%;
  font-size: 0.8em;
}

section:nth-of-type(9) div#content p:nth-of-type(1) {
  font-size: 1.4em;
}

section:nth-of-type(9) div#content div#small_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section:nth-of-type(9) div#content div#small_content img {
  width: 20%;
}

section:nth-of-type(9) div#content div#small_content p {
  width: 75%;
  font-size: 0.6em;
}

section:nth-of-type(9) img {
  width: 65%;
  height: 100%;
}

section:nth-of-type(9) div#content > p:nth-of-type(1)::after {
  content: '';
  display: block;
  position: relative;
  top: 0;
  width: 100px;
  height: 1px;
  background-color: #b6a97e;
  margin-block: 10%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-typing {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.size-full {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */