*{
    font-family: GmarketSansMedium; 
    font-weight: 500;
    box-sizing: border-box;
} 
*::selection{
    background-color: #b6a97e;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../font/JKG-L_3.ttf') format('woff');
    // font-weight:lighter
}
html,body {
    width:100%;
    height:100%;
    background-color: #000c1d;
}





header {
    display:flex;
    justify-content: flex-start;
    position:fixed;
    width:100%;
    top:0px;
    color:#ffffff;
    height:60px;
    z-index:2;
    font-size: 1.2em;
    span {
        padding:20px;
        // color:#b6a97e
    }
}
// #capture {
//     width:300px;
//     height:100px;
//     position:fixed;

//     canvas {
//         z-index: 5;
//         width:300px !important;
//         height:100px !important;
//     }
// }
#main {
    letter-spacing:3px; 
    line-height:200%;
    font-size:3.5vmin;
    color:#ffffff;
    position:fixed;
    z-index: 2;
    --animate-duration: 7s;
    div {
        font-size:0.8em; 
        margin:auto; 
        height:50%;

        p:first-child > span{
            background-color: #b6a97e; padding:1%;
        }
    }
}





@mixin section(){
    background-size: cover;
    width:100%;
    height:100%;
}
@mixin after(){
    content: '';
    display:block;
    position:relative;
    top:0;
    width:100px;
    height:1px;
    background-color: #b6a97e;
    margin-block: 10%;
}
@mixin back_image() {
    background-repeat : no-repeat;
    background-size : cover;
    background-position:center; 
}



section#repeatSection {
    display: block;
    overflow-y: hidden;
    .img {
        @include section();
        @include back_image();
        display:none;
        position:fixed;
        top:0px;
        // background-repeat : no-repeat;
        // background-size : cover;
        // background-position:center; 
    }
} 
section.imgSection {
    @include section();  
    @include back_image();
    position:fixed;
    display: none;
    top:0px; 
    color:#ffffff;
    letter-spacing:3px; 
    line-height:200%;
    font-size:3vmin;
}
section.contentSection {
    width:100%;
    height:1000px;
    visibility: hidden;
    letter-spacing:3px; 
    line-height:200%;
    font-size:1.25em;
}
section.whiteSection {
    background-color: #ffffff;
    color: #000000;
}
section.blueSection {
    color: #ffffff
}





section {
    --animate-duration: 3s;
    #slide {
        .carousel-cell {
            width:100%;
            left: 0% !important;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            z-index: -1;
        }
          
          .carousel-cell.is-selected {
            opacity: 1;
            z-index: 0
          }
    }
    #slide p:first-child::after{
        @include after();
    }
    #banner>p {
        color:#b6a97e;
        padding:1% 10%;
        border:1px solid #b6a97e;
        font-weight:700;
    }
}


section:nth-of-type(6) {
    padding:10%;
    height:initial;
    font-size:2.5vmin;
    #slide {
        width:100%;
        padding:15% 0%;
    }
    #slide > div:nth-of-type(1) {
        width:25%;
    }
    #slide > div:nth-of-type(2) {
        width:45%;
    }

}
@media screen and (max-width: 900px){
    section:nth-of-type(6) {
        height:initial;
        padding-top:15%;
        #slide {
            display:flex;
            width:100%;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            height:initial;
        }
        #slide > div:nth-of-type(1),#slide > div:nth-of-type(2) {
            width:80%;
        }
    }
}
section:nth-of-type(9) {
    justify-content:space-between; 
    width:100%;
    padding: 10%;
    div#content {
        width:30%;
        p {
            display:inline-block; 
            width:100%;
            font-weight:100;
            margin-bottom:3%;
            line-height:200%;
            font-size:2vmin;
        }
        p:nth-of-type(1){
            font-size: 3.5vmin;
        }
        div#small_content {
            display:flex;
            justify-content: space-between;
            img {width: 30%;}
            p {width: 65%; font-size:1.6vmin;}
        }
    }
    img {width: 65%; height:100%;}
    div#content > p:nth-of-type(1)::after{
        @include after();
        margin-block:10px;
    }
}
@media screen and (max-width: 900px){
    section:nth-of-type(9) {
        display:block;
        div#content {
            width:100%;
            div#small_content {
                flex-direction: column;
                align-items: center;
                img {width: 30%; margin-block:3%;}
                p {width: 100%;}
            }
        }
        img {
            width:100%; 
            height:auto;
            object-fit:cover
        }
    }
}

































.flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-center-x {
    display:flex;
    justify-content: center;
}
.flex-center-y {
    display:flex;
    align-items: center;
}
.vertical-typing {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.column {
    display:flex;
    flex-direction: column;
}
.size-full {
    width: 100%;
    height: 100%;
}